
<% include ../partials/header %>

<br>
<div class="ui center aligned grid">

	<div class="ui segment">
		<form action="/users" method="get">
			<button class="big ui blue button">List Users</button>
		</form>

		<h3 class="ui header">Click the above to GET all users. Click any user to GET that particular user. On a users page, you may UPDATE their information.</h3>
	</div>

	<div class="ui segment">
		<form action="/docs" method="get">
			<button class="big ui blue button">API Documentation</button>
		</form>

		<h3 class="ui header">Click the above to GET API documentation.</h3>
	</div>

	

</div>

</body>
</html>